// variable
$main-bg: #e6f0ff;
$btn-bg: #0f1b4c;
$text: #687690;
$text-bold: #000336;
$link-blue: #44a7ff;
$section-sky: #bbe0ffb0;
$star-color: #ffca56;

$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
// fonts

$fonts: (
    "black": "../fonts/Poppins-Black.ttf",
    "bold": "../fonts/Poppins-Bold.ttf",
    "extraBold": "../fonts/Poppins-ExtraBold.ttf",
    "light": "../fonts/Poppins-Light.ttf",
    "medium": "../fonts/Poppins-Medium.ttf",
    "regular": "../fonts/Poppins-Regular.ttf",
    "semiBold": "../fonts/Poppins-SemiBold.ttf",
    "thin": "../fonts/Poppins-Thin.ttf",
);

@each $name, $link in $fonts {
    @font-face {
        font-family: $name;
        src: url("#{$link}") format("truetype");
    }
    .font-#{$name} {
        font-family: $name;
    }
}

// ------------------------------ mixing -------------------------
@mixin resp($width) {
    @media only screen and (min-width: $width) {
        @content;
    }
}
// responsive font engine
@function strip-unit($value) {
    @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
    $u1: unit($min-vw);
    $u2: unit($max-vw);
    $u3: unit($min-font-size);
    $u4: unit($max-font-size);

    @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
        & {
            font-size: $min-font-size;
            @media screen and (min-width: $min-vw) {
                font-size: calc(
                    #{$min-font-size} + #{strip-unit(
                            $max-font-size - $min-font-size
                        )} *
                        (
                            (100vw - #{$min-vw}) / #{strip-unit(
                                    $max-vw - $min-vw
                                )}
                        )
                );
            }
            @media screen and (min-width: $max-vw) {
                font-size: $max-font-size;
            }
        }
    }
}

// common style

@include resp($lg) {
    .text-lg-left {
        text-align: left !important;
    }
}

.main__heading {
    font-size: 2.5rem;
    @include resp($md) {
        font-size: 3rem;
    }
    @include resp($xl) {
        font-size: 3.5rem;
    }
    @include resp($xxl) {
        font-size: 4rem;
    }
}

// para
.para {
    @extend .font-medium;
    font-size: 14px;
    color: #687690;
    @include resp($xxl) {
        font-size: 16px;
    }
}

.para-md {
    @extend .para;
    font-size: 16px;
    @include resp($xxl) {
        font-size: 18px;
    }
}

.para-lg {
    @extend .para;
    font-size: 18px;
    @include resp($xxl) {
        font-size: 21px;
    }
}

.sec-heading {
    @extend .font-semiBold;
    font-size: 30px;
    @include resp($lg) {
        font-size: 32x;
    }
    @include resp($xl) {
        font-size: 35px;
    }
    @include resp($xxl) {
        font-size: 37px;
    }
}

.item-title {
    @extend .font-semiBold;
    font-size: 20px;
    color: #000339;
    @include resp($xxl) {
        font-size: 22px;
    }
}

.section-sky {
    background-color: $section-sky;
}
// ---------------- common style  ---------------------
//  ---- custom btn -----
.cus__btn {
    @extend .para;
    text-align: center;
    color: $btn-bg;
    text-transform: capitalize;
    border-radius: 10px;
    padding: 10px 25px;
    text-decoration: none;
    border: 1.5px solid $btn-bg;
    transition: all 0.2s ease-in-out;
    &:hover {
        color: white;
        background-color: $btn-bg;
    }
}
.cus__btn.active {
    background-color: $btn-bg;
    color: white;
    &:hover {
        background-color: transparent;
        color: $btn-bg;
        border: 1.5px solid $btn-bg;
    }
}

// ------ nav link  ------------
.nav-link {
    color: $text-bold !important;
    border-bottom: 2px solid transparent;
    &:hover {
        border-bottom: 2px solid #2e2121;
    }
}
.nav-link.active {
    border-bottom: 2px solid $text-bold;
}

.b-r {
    border-radius: 15px;
}

.list-none {
    list-style: none;
}
.black-border {
    width: 100px;
    height: 4px;
    border-radius: 5px;
    background-color: black;
}
// --------------------------- sections ----------------------------
// section style
.section-space {
    padding-top: 50px;
    padding-bottom: 50px;
    @include resp($lg) {
        padding-top: 75px;
        padding-bottom: 75px;
    }
}

// main section
#main {
    background-color: $section-sky;
    .spacing {
        padding-top: 85px;
        padding-bottom: 55px;
        @include resp($lg) {
            padding-bottom: 0px;
        }
        .highlight__img {
            max-width: 400px;
            @include resp($md) {
                max-width: 550px;
            }
            @include resp($lg) {
                width: 105% !important;
                max-width: initial;
            }
            @include resp(1600px) {
                width: 110% !important;
            }
            @include resp(1850px) {
                width: 120% !important;
            }
        }
    }
}

// feature properties
#feature {
    .container {
        padding-top: 125px;
        padding-bottom: 75px;
    }
    .card__container {
        padding-bottom: 75px;
        i {
            font-size: 20px;
        }
    }
}

// neighbour hood
#neighborhood {
    .container {
        padding-top: 75px;
        padding-bottom: 75px;
    }
}
